* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  padding: 1rem;
  background-color: #fdfbf5;
}

body.dark {
  background-color: #111;
  color: #fff !important;
}

body.dark .theme-toggle {
  border: 1px solid white !important;
}

body.dark .toggle-circle {
  transform: translateX(30px);
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p,
body.dark span,
body.dark a,
body.dark li,
body.dark input,
body.dark label,
body.dark div {
  color: white !important;
  border: #fff !important;
}

body.dark main {
  border: 1px solid white !important;
}

body.dark .socials a {
  border: 1px solid white !important;
}

body.dark .socials a:hover {
  background-color: white !important;
  color: #000 !important;
}

body.dark.nav-links a:hover {
  background-color: #fff !important;
}

body.dark svg {
  fill: white !important;
  stroke: white !important;
  color: white !important;
}

body.dark .view-2 .line {
  background-color: #fdfbf5 !important;
}

body.dark .view-4 .line {
  background-color: #fdfbf5 !important;
}

body.dark button {
  background-color: #fff !important;
  color: #111 !important;
}

body.dark .logo img {
  fill: white !important;
  stroke: white !important;
  color: white !important;
}

main {
  padding: 1.8rem;
  padding-top: 2rem;
  border: 1px solid black;
  width: 100%;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 4rem;
  width: 100%;
  z-index: 999;
  transition: transform 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .logo img {
  cursor: pointer;
}
nav .logo h1 {
  font-size: 1.5rem;
  font-family: monospace;
  font-weight: 400;
  cursor: pointer;
}
nav .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
nav .right .nav-links {
  display: flex;
  gap: 40px;
  margin-right: 30px;
}
nav .right .nav-links a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #191919;
  font-size: 0.95rem;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}
nav .right .nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #000;
  transition: width 0.3s ease;
}
nav .right .nav-links a:hover::after {
  width: 100%;
}
nav .right .lets-talk-btn {
  background-color: #111;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-family: monospace;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav .right .lets-talk-btn:hover {
  background-color: #fff;
  color: #111;
  border: 1px solid #111;
  transform: scale(1.05);
}
nav .right .nav-separator {
  height: 30px;
  width: 1px;
  background-color: #000;
  margin: 0 15px;
}
nav .right .socials {
  display: flex;
  gap: 10px;
  align-items: center;
}
nav .right .socials a {
  text-decoration: none;
  color: #191919;
  width: 40px;
  height: 40px;
  border: 1px solid #191919;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
nav .right .socials a:hover {
  background-color: #000;
  color: #fff;
}
nav .right .theme-toggle {
  height: 30px;
  width: 60px;
  border: 1px solid black;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: background-color ease 0.5s;
}
nav .right .toggle-circle {
  position: absolute;
  top: 1px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 16px;
  transition: all 0.3s ease;
}

body.dark .section-partation-line {
  background-color: white !important;
}

.View-1 {
  width: 100%;
  margin-top: 5rem;
}
.View-1 p {
  font-size: 1rem;
  opacity: 0.75;
  text-transform: uppercase;
  font-weight: 500;
}
.View-1 h1 {
  width: 70%;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 65px;
  margin-top: 1rem;
  color: #191919;
}
.View-1 img {
  width: 100%;
  height: 30%;
  margin-top: 2rem;
  border-radius: 1rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.view-2 {
  margin: 2rem 0;
  width: 100%;
}
.view-2 .top {
  width: 100%;
}
.view-2 .top p {
  font-size: 1rem;
  opacity: 0.75;
  text-transform: uppercase;
  font-weight: 500;
}
.view-2 .top h1 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 500;
  color: #191919;
  margin-top: 1rem;
}
.view-2 .top button {
  padding: 0.6rem 1.4rem;
  border-radius: 0.5em;
  border: none;
  background-color: #191919;
  color: #fdfbf5;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.view-2 .line {
  background-color: #191919;
  height: 1px;
}
.view-2 .bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.view-2 .bottom .elem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-2 .bottom .elem svg {
  width: 4rem;
  aspect-ratio: 1/1;
}
.view-2 .bottom .elem h1 {
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: 400;
}
.view-2 .bottom .elem p {
  line-height: 25px;
  font-size: 1rem;
  opacity: 0.75;
}
.view-2 .bottom .elem .line {
  background-color: #191919;
  height: 1px;
}

.view-3 {
  width: 100%;
  margin-top: 2rem;
}
.view-3 .about-our-team {
  width: 100%;
  margin-bottom: 2rem;
}
.view-3 .about-our-team h1 {
  font-weight: 400;
  font-size: 2.5rem;
  width: 35%;
  text-transform: uppercase;
  line-height: 50px;
}
.view-3 .about-our-team p {
  font-size: 1.15rem;
  color: rgb(25, 25, 25);
  margin-top: 0.6rem;
}
.view-3 .line {
  background-color: #191919;
  height: 1px;
  margin-top: 2rem;
}
.view-3 .team-members {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-3 .team-members .team-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.view-3 .team-members .team-list .member-name {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.view-3 .team-members .team-list .member-role {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #242422;
}

.view-4 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-4 .line {
  background-color: #191919;
  height: 1px;
  margin-top: 2rem;
}
.view-4 .top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.view-4 .top svg {
  width: 4rem;
  aspect-ratio: 1/1;
}
.view-4 .top h3 {
  line-height: 1px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.view-4 .top p {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
}
.view-4 .top p br {
  display: none;
}
.view-4 .bottom p {
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 400;
  width: 100%;
}
.view-4 .bottom button {
  padding: 0.6rem 1.4rem;
  border-radius: 0.5em;
  border: none;
  background-color: #191919;
  color: #fdfbf5;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.view-5 {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-5 .line {
  background-color: #191919;
  height: 1px;
}
.view-5 .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.view-5 .top .branding {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.view-5 .top .branding .brand-logo svg {
  width: 4rem;
  aspect-ratio: 1/1;
}
.view-5 .top .branding .brand-name h1 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.view-5 .top .Adress {
  margin-top: 1.5rem;
}
.view-5 .top .Adress p {
  font-size: 1.1rem;
  color: rgb(25, 25, 25);
}

.view-5 .top .socials {
  display: flex;
  gap: 10px;
  align-items: center;
}

.view-5 .top .socials a {
  text-decoration: none;
  color: #191919;
  width: 40px;
  height: 40px;
  border: 1px solid #191919;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.view-5 .top .socials a:hover {
  background-color: #000;
  color: #fff;
}
.view-5 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-5 .bottom .pages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-5 .bottom .pages h1 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.view-5 .bottom .pages .pages-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.view-5 .bottom .pages .pages-links a {
  text-decoration: none;
  color: #191919;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
}
.view-5 .bottom .pages button {
  padding: 0.6rem 1.4rem;
  border-radius: 0.5em;
  border: none;
  background-color: #191919;
  color: #fdfbf5;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
.view-5 .bottom .CMS {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-5 .bottom .CMS h1 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.view-5 .bottom .CMS .cms-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.view-5 .bottom .CMS .cms-links a {
  text-decoration: none;
  color: #191919;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
}
.view-5 .bottom .Utility-pages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-5 .bottom .Utility-pages h1 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.view-5 .bottom .Utility-pages .utility-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.view-5 .bottom .Utility-pages .utility-links a {
  text-decoration: none;
  color: #191919;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
}
.view-5 .bottom :nth-child(6) {
  display: none;
}

.footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer p {
  letter-spacing: 1px;
}
.footer .footer-links {
  display: flex;
  gap: 2rem;
}
.footer .footer-links a {
  text-decoration: none;
  color: #191919;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
}

@media (min-width: 1020px) {
  main {
    padding: 3rem;
  }
  nav {
    padding: 1rem 2rem;

    .right {
      gap: 5px;

      .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70%;
        background-color: #fdfbf5;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem 2rem;
        transition: right 0.4s ease-in-out;
        z-index: 999;
        display: flex;

        a {
          font-size: 1.2rem;
        }

        &.active {
          right: 0;
        }
      }

      .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 20px;
        cursor: pointer;
        z-index: 1000;

        span {
          height: 3px;
          width: 100%;
          background-color: #191919;
          border-radius: 2px;
          transition: all 0.3s ease;
        }
      }

      .lets-talk-btn,
      .socials,
      .theme-toggle,
      .nav-separator {
        display: none;
      }
    }
  }

  .View-1 h1 {
    width: 100%;
    font-size: 5.5rem;
    line-height: 105px;
    font-weight: 400;
  }
  .View-1 img {
    margin-top: 3rem;
  }
  .view-2 {
    display: flex;
    margin-top: 3rem;
  }
  .view-2 .line {
    height: initial;
    width: 2px;
  }
  .view-2 .top {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .view-2 .top h1 {
    font-size: 4.5rem;
    margin-right: 2rem;
    width: 95%;
  }
  .view-2 .top button {
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: -1rem;
  }
  .view-2 .bottom {
    width: 30%;
    margin-left: 3rem;
    margin-top: auto;
  }
  .view-2 .bottom .line {
    height: 1px;
    width: 100%;
  }
  .view-2 .bottom .elem svg {
    width: 3.5rem;
    aspect-ratio: 1/1;
  }
  .view-3 {
    display: flex;
  }
  .view-3 .about-our-team {
    width: 45%;
  }
  .view-3 .about-our-team h1 {
    font-size: 3.5rem;
    line-height: 60px;
  }
  .view-3 .about-our-team p {
    font-size: 1.3rem;
  }
  .view-3 .line {
    height: initial;
    width: 2px;
    margin-left: 2rem;
  }
  .view-3 .team-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2rem;
  }
  .view-4 {
    height: 100vh;
    flex-direction: row;
    margin-top: 5rem;
  }
  .view-4 .line {
    height: 100%;
    width: 2px;
    margin-left: 1rem;
    margin-top: -1rem;
  }
  .view-4 .top {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
  }
  .view-4 .top p {
    font-size: 4.5rem;
  }
  .view-4 .top p br {
    display: block;
  }
  .view-4 .top svg {
    position: absolute;
    bottom: 0;
  }
  .view-4 .bottom {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -1rem;
    margin-left: 2rem;
  }
  .view-4 .bottom p {
    font-size: 1.4rem;
    line-height: 35px;
  }
  .view-4 .bottom button {
    width: -moz-fit-content;
    width: fit-content;
    align-content: end;
    margin-top: 2rem;
  }
  .view-5 {
    flex-direction: row;
  }
  .view-5 .top {
    width: 45%;
  }
  .view-5 .bottom {
    display: flex;
    flex-direction: row;
    gap: 7rem;
  }
  .view-5 .bottom .pages h1 {
    font-size: 1.3rem;
  }
  .view-5 .bottom .pages .pages-links a {
    font-size: 0.9rem;
  }
  .view-5 .bottom .CMS h1 {
    font-size: 1.3rem;
  }
  .view-5 .bottom .CMS .cms-links a {
    font-size: 0.9rem;
  }
  .view-5 .bottom .Utility-pages h1 {
    font-size: 1.3rem;
  }
  .view-5 .bottom .Utility-pages .utility-links a {
    font-size: 0.9rem;
  }
  .view-5 .bottom .line {
    display: none;
  }
  .view-5 .bottom :nth-child(5) {
    margin-left: 5rem;
  }
  .view-5 .line {
    height: initial;
    width: 2px;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer p {
    font-size: 0.85rem;
  }
  .footer .footer-links a {
    font-size: 0.85rem;
  }
} /*# sourceMappingURL=style.css.map */
